//variable
$purple_color: #ff00bf;
$light_color: #ffffff;

$header_font_size: 2rem;
$desc_font_size: 1.15rem;

//mixins
@mixin header {
  text-transform: capitalize;
  font-size: 1.7rem;
  color: $light-color;
  text-align: center;
  margin-bottom: 2rem;
  @media screen and (min-width:480){
    font-size: $header_font_size;
  }
}
@mixin text {
  font-size: $desc_font_size;
  color: darken($light_color, 25);
  padding: 0 1rem;
}

@mixin action_Btn {
  background: darken($purple_color, 15);
  color: $light-color;
  margin: 1.5rem;
  padding: 1.2rem 4.5rem;
  text-transform: uppercase;
  font-weight: 500;
  font-size: .85rem;
  letter-spacing: 2px;
  border: none;
  border-radius: 0.3rem;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  @media screen and (min-width:480){
    font-size: 1rem;
  }
  &:hover {
    background: darken($purple_color, 13);
    color: $light-color;
  }
}

@font-face {
  font-family: "MontserratAlternates-Light";
  src: url("../assets/font/MontserratAlternates-Light.ttf");
}

.d_flex {
  display: flex;
}
.justifyContent_center {
  justify-content: center;
}
.justifyContent_around {
  justify-content: space-around;
}

.alignItems_center {
  flex-direction: column;
  align-items: center;
}

.page {
  position: relative;
  padding: 1.9rem;
  width: 100%;
  max-width: 500px;
}

.header {
  margin-top: 5rem;
  text-align: center;
}

.onWait_btn {
  background: darken($purple_color, 32) !important;
  color: darken($light-color,25) !important;
}

.offline_message {
  position: fixed;

  max-height: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ff8a65;
  color: #37474f;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  &_btn {
    align-self: flex-end;
    background: darken($light_color, 30);
    color: #37474f;
    margin: 0 0.3rem;
    padding: 0.45rem 1.4rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 1px;
    border: none;
    border-radius: 0.3rem;
    transition: all 0.1s ease-in-out;
    &:hover {
      background: darken($light_color, 34);
      color: #37474f;
    }
  }
  &_show {
    max-height: 7rem;
    margin: 0.5rem;
    padding: 0.5rem;
  }
}

.danger_text {
  border: #fbe9e7 1px solid;
  border-radius: 0.3rem;
  background-color: #ffab91;
  color: #37474f;
  padding: 1rem;
  font-weight: 500;
}
.warning_text {
  border-radius: 0.3rem;
  background-color: #fbc02d;
  color: #37474f;
  padding: 1rem;
  font-weight: 500;
}
