.overlay_content {
  display: flex;
  flex-direction: column;
}
.overlay_header {
  @include header;
}

.overlay_text {
  @include text;
}
.overlay_sec {
  color: $light-color;
  font-weight: 500;
}
.wizard_overlay_btn {
  @include action_Btn;
}
