.conclusion_level{
letter-spacing: 2px;
}
.conclusion_levelDetails{
    width: 100%;
    padding:1rem 2rem;

}
.conclusion_levelDetail{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}
.conclusion_stars{
    font-size: 72px;
  background: -webkit-linear-gradient(right, rgb(207, 161, 44) 50%, white );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    color: goldenrod;
    margin-top: 3rem;
    display: flex;
    // font-size: 2rem;
    justify-content: center;
}
.conclusion_action_btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.conclusion_nextLevel_btn{
    margin: 1.5rem;
    width: 15rem;
    height: 3.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: transparent;
    background-color:#e523ff85 ;
    border: none;
    color: white;
    transition: all .3s ease-in-out;
    &:hover{
        border: none;
        background-color:#e523ffbb ;
        transform: scale(1.01,1.01);
    }
}
.conclusion_quit_btn{
    margin: 1.5rem;
    width: 15rem;
    height: 3.5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    background-color: transparent;
    // background-color:gray ;
    border: none;
    color: white;
    transition: all .3s ease-in-out;
    &:hover{
        border: none;
        background-color:darkgray ;
        transform: scale(1.01,1.01);
    }
}

