
.header_text{
    @include header;
    letter-spacing: 1px;
    // margin-top: 1.5rem;
    margin-bottom: 5rem;
    // min-height: 10rem;
}

.levels{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 55%;
}

.diff_level_btn{   
    @include action_Btn;
    // color: darkgoldenrod;
}
.start_Game_Btn{
    // background: #e523ff;
    // padding: .8rem 4rem;
    // font-weight: bold;
    // margin: 1rem 0;
}