
.welcome{
    font-size: 3rem;
    text-transform:capitalize;
    letter-spacing: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.game_name{
    color: #e523ff;
    font-size: 2rem;
    text-transform:uppercase;
    letter-spacing: 5px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.desc{
    margin-top:5rem;
padding: 1rem;
    color: rgb(168, 168, 168);
    font-size: 1.3rem;
}
.action_Btn{
    background: #e523ff;
    padding: .8rem 4rem;
    font-weight: bold;
    margin: 1rem 0;
}
